body {
  min-width: 1200px;
}

a {
  text-decoration: none;
  color: greenyellow;
}

.page-link {
  color: green;  
}

.page-link:hover {
  color: black;
}

a:hover{
  text-decoration: none;
  color: green;
}

h1 {
  color: greenyellow;
  font-size: 13vmin;
}
h3 {
  color: white;
  font-size: 5vmin;
}

hr {
  width: 100%;
  height: 1px;
  background-color: white;
  border: none;
}

table {  
  margin-left: 2vw; 
}

textarea {
  width: 100%;
}

.table-color {
  background: linear-gradient(90deg, #303c53, #5e375a);
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {  
  color: white;
  text-decoration: white;  
}

.wid-50 {
  width: 100vmin;
}

.input-dark {
  border: 1px solid lightgray;
  color: white;
  background: linear-gradient(90deg, #303c53, #5e375a);
}

.input-dark:focus {
  border: 2px solid lightgray;
  color: white;
  background: linear-gradient(270deg, #303c53, #5e375a);
}

.nav {
  height: 10vh;
  background: linear-gradient(0deg, #282c34, #342833);
}

.nav-brand {
  color: greenyellow;
}

.btn-back {  
  background: linear-gradient(90deg, #303c53, #5e375a);
}

.btn-back:focus, .btn-back:hover {
  color: white;
  background: linear-gradient(270deg, #303c53, #5e375a);
}

.App {
  text-align: center;
}

.App-card-title {
  text-align: center;
  border-bottom: solid 1px black;
}

.App-card-body {
  margin-top: 10px;
  text-align: left;
}

.App-card {
  display: inline-block;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  margin-left: 2vw;
  padding: 20px;  
  align-items: left;
  justify-content: left;
}

.App-info {
  display: block;
  border: 1px solid white;
  border-radius: 1vmin;
  color: white;
  width: 50vw;
  padding: 1vmin;
  margin: 1vmin 1vmin 3vmin 1vmin; 
  background: linear-gradient(270deg, #303c53, #5e375a);
}

.App-header {  
  background: linear-gradient(0deg, #282c34, #342833);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-action {
  background: linear-gradient(180deg, #282c34, #342833);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-center {
  padding-top: 20px;
  padding-bottom: 20px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-main {
  background: linear-gradient(180deg, #282c34, #342833);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.App-block {
  background: linear-gradient(180deg, #342833, #342c28);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.App-footer {
  background: linear-gradient(180deg, #342833, #342c28);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 10vh;
  color: white;
}

.App-footer-block {
  background: linear-gradient(180deg, #342c28, #323428);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 10vh;
  color: white;
}

